[adxl345]
cs_pin: PD9
spi_bus: spi1
# spi_software_mosi_pin: v2:PB5 # Software SPI. Choose either hardware SPI or software SPI. Default is hardware SPI.
# spi_software_miso_pin: v2:PB15
# spi_software_sclk_pin: v2:PB8
#spi_speed: 00000
axes_map: x,-y,-z

[resonance_tester]
accel_chip: adxl345
probe_points:
    89,89,20 # an example - set this to the centre of your BED.
