# Btt Ebb36 V1.2
[mcu ebb]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_3E0043000E504D5930313920-if00


[adxl345]
cs_pin: ebb:PB12
#spi_bus: spi1
spi_software_mosi_pin: ebb:PB11 # Software SPI. Choose either hardware SPI or software SPI. Default is hardware SPI.
spi_software_miso_pin: ebb:PB2
spi_software_sclk_pin: ebb:PB10
#spi_speed: 00000
axes_map: x, z, -y

[resonance_tester]
accel_chip: adxl345
probe_points:
    89,89,20 # an example - set this to the centre of your BED.
[temperature_sensor ebb]
sensor_type: temperature_mcu
sensor_mcu: ebb # or your specific name
min_temp: 0
max_temp: 120