[include shake_n_tune.cfg]
[gcode_macro PURGE]
description: Purge + wiper. PREHEAT define temperatura final. PASSES define limpeza.
gcode:
  ####################################################
  # Parâmetros editáveis (usuário final)
  ####################################################
  {% set final_temp = params.PREHEAT|default(0)|int %}
  {% set wipe_passes = params.PASSES|default(3)|int %}

  ####################################################
  # Constantes internas
  ####################################################
  {% set initial_preheat = 185 %}
  {% set purge_x = 137.5 %}
  {% set purge_y = 2.5 %}
  {% set wiper_x = 153.5 %}
  {% set wiper_y = 3 %}
  {% set wipe_z = 1.0 %}
  {% set purge_amount = 90 %}
  {% set purge_feed = 600 %}
  {% set retract = 5.0 %}
  {% set zig_steps = 4 %}
  {% set zig_move = 2.5 %}

  ####################################################
  # Estado atual do extrusor
  ####################################################
  {% set extruder = printer[printer.toolhead.extruder] %}
  {% set current_temp = extruder.temperature %}
  {% set target_temp = extruder.target %}

  ####################################################
  # Preheat inicial fixo (185°C)
  ####################################################
  {% if current_temp < initial_preheat %}
    ; extrusor frio -> preheat inicial
    M104 S{initial_preheat}
  {% else %}
    ; extrusor já >= 185°C -> ignora preheat inicial
  {% endif %}

  ####################################################
  # Homing
  ####################################################
  SET_LED_EFFECT EFFECT=prepare REPLACE=1 FADETIME=1
  G28
  
  ####################################################
  # Temperatura final definida pelo usuário
  ####################################################
  {% if final_temp > 0 %}
    ; espera atingir a temperatura final solicitada
    SET_LED_EFFECT EFFECT=heater REPLACE=1 FADETIME=0.5
    M109 S{final_temp}
  {% else %}
    ; PREHEAT=0 -> mantém temperatura atual
  {% endif %}

  ####################################################
  # Purge
  ####################################################
  G90
  G1 Z5 F6000
  G1 X{purge_x} Y{purge_y} F6000
  G1 Z0.8 F1200

  G92 E0
  G91
  G1 E-{retract} F400
  G1 E{purge_amount/2} F{purge_feed}
  G92 E0
  G1 E{purge_amount/2} F{purge_feed}
  G4 P250
  G1 E-0.2 F200
  G90
  G92 E0
  WIPE PASSES={wipe_passes}
  
  

  ####################################################
  # Finalização
  ####################################################
  G90
  G1 Z5 F1200
  G92 E0

[gcode_button my_gcode_button]
pin: !v2:PC0
press_gcode:
  SDCARD_PRINT_FILE FILENAME="disco vinil(1)_PETG_37m53s.gcode"
[gcode_macro WIPE]
description: wiper PASSES define limpeza.
gcode:
  ####################################################
  # Parâmetros editáveis (usuário final)
  ####################################################
  {% set wipe_passes = params.PASSES|default(3)|int %}
  
  {% set wiper_x = 153.5 %}
  {% set wiper_y = 6.0 %}
  {% set wipe_z = 1.0 %}
  {% set zig_steps = 4 %}
  {% set zig_move = 2.5 %}

  ####################################################
  # Wiper
  ####################################################
  G90
  G1 Z2
  G1 X{wiper_x} Y{wiper_y} F2400
  G1 Z{wipe_z} F1200
  G91

  {% for p in range(wipe_passes) %}
    ; contorno
    {% for c in range(3)%}
    G1 X20 F10000
    G1 Y2.5
    G1 X-20
    G1 Y-2.5
    {% endfor %}
  
    ; zig-zag
    {% for i in range(zig_steps) %}
      G1 X{zig_move}
      G1 Y2.5
      G1 X{zig_move}
      G1 Y-2.5
    {% endfor %}

    ; retorno
    {% for i in range(zig_steps) %}
      G1 X-{zig_move}
      G1 Y-2.5
      G1 X-{zig_move}
      G1 Y2.5
    {% endfor %}

  {% endfor %}
    G1 Z0.4 F1200

   
[gcode_macro freedom_motif]

description: Deltarune freedom motif

gcode:
 G90
 G1 X103.41937 Y82.20189 F1650.00000
 G4 P1000.00000
 G1 X133.92348 Y133.04206 F3054.49953
 G1 X133.92348 Y131.37940 F600.00000
 G1 X129.61147 Y124.19271 F3054.49953
 G1 X125.53864 Y117.40467 F2883.06364
 G1 X121.22663 Y110.21798 F3054.49953
 G1 X108.26510 Y88.61543 F4576.57826
 G1 X104.19228 Y81.82739 F2883.06364
 G1 X46.07652 Y46.95794 F3054.49953
 G1 X47.73919 Y46.95794 F600.00000
 G1 X54.92587 Y51.26995 F3054.49953
 G1 X61.71391 Y55.34278 F2883.06364
 G1 X67.76907 Y58.97587 F2568.51770
 G1 X78.62023 Y65.48657 F2288.28913
 G1 X92.27550 Y73.67973 F2883.06364
 G1 X99.46219 Y77.99174 F3054.49953
 G1 X103.53502 Y84.77978 F2883.06364
 G1 X99.22300 Y77.59309 F3054.49953
 G1 X118.72517 Y110.09670 F4576.57826
 G1 X112.30427 Y99.39520 F4576.57826
 G1 X105.11351 Y87.41061 F5137.03540
 G1 X92.15198 Y65.80806 F4576.57826
 G1 X97.88399 Y75.36141 F4077.26770
 G1 X114.29931 Y102.72027 F3848.42825
 G1 X105.62195 Y88.25800 F3054.49953
 G1 X90.98933 Y63.87031 F3428.55980
 G1 X101.96404 Y82.16148 F2568.51770
 G1 X118.18516 Y91.89416 F3428.55980
 G1 X90.82630 Y75.47884 F3848.42825
 G1 X95.52378 Y78.29733 F4077.26770
 G1 X99.96600 Y80.96266 F3848.42825
 G1 X132.52025 Y100.49521 F3428.55980

[gcode_macro TEST_SPEED]
# Home, get position, throw around toolhead, home again.
# If MCU stepper positions (first line in GET_POSITION) are greater than a full step different (your number of microsteps), then skipping occured.
# We only measure to a full step to accomodate for endstop variance.
# Example: TEST_SPEED SPEED=300 ACCEL=5000 ITERATIONS=10

description: Test for max speed and acceleration parameters for the printer. Procedure: Home -> ReadPositionFromMCU -> MovesToolhead@Vel&Accel -> Home -> ReadPositionfromMCU

gcode:
    # Speed
    {% set speed  = params.SPEED|default(printer.configfile.settings.printer.max_velocity)|int %}
    # Iterations
    {% set iterations = params.ITERATIONS|default(5)|int %}
    # Acceleration
    {% set accel  = params.ACCEL|default(printer.configfile.settings.printer.max_accel)|int %}
    # Minimum Cruise Ratio
    {% set min_cruise_ratio = params.MIN_CRUISE_RATIO|default(0.5)|float %}
    # Bounding inset for large pattern (helps prevent slamming the toolhead into the sides after small skips, and helps to account for machines with imperfectly set dimensions)
    {% set bound = params.BOUND|default(20)|int %}
    # Size for small pattern box
    {% set smallpatternsize = SMALLPATTERNSIZE|default(20)|int %}
    
    # Large pattern
        # Max positions, inset by BOUND
        {% set x_min = printer.toolhead.axis_minimum.x %}
        {% if x_min < 0 %}
            {% set x_min = 0 %}
        {% endif %}
    
        {% set y_min = printer.toolhead.axis_minimum.y %}
        {% if y_min < 0 %}
            {% set y_min = 0 %}
        {% endif %}
    
        {% set x_min = x_min + bound %}
        {% set x_max = printer.toolhead.axis_maximum.x - bound %}
        {% set y_min = y_min + bound %}
        {% set y_max = printer.toolhead.axis_maximum.y - bound %}
    
    # Small pattern at center
        # Find X/Y center point
        {% set x_center = (printer.toolhead.axis_minimum.x|float + printer.toolhead.axis_maximum.x|float ) / 2 %}
        {% set y_center = (printer.toolhead.axis_minimum.y|float + printer.toolhead.axis_maximum.y|float ) / 2 %}
        
        # Set small pattern box around center point
        {% set x_center_min = x_center - (smallpatternsize/2) %}
        {% set x_center_max = x_center + (smallpatternsize/2) %}
        {% set y_center_min = y_center - (smallpatternsize/2) %}
        {% set y_center_max = y_center + (smallpatternsize/2) %}

    # Save current gcode state (absolute/relative, etc)
    SAVE_GCODE_STATE NAME=TEST_SPEED
    
    # Output parameters to g-code terminal
    { action_respond_info("TEST_SPEED: starting %d iterations at speed %d, accel %d" % (iterations, speed, accel)) }
    
    # Home and get position for comparison later:
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28
        G1 Z10
        # QGL if not already QGLd (only if QGL section exists in config)
        {% if printer.configfile.settings.quad_gantry_level %}
            {% if printer.quad_gantry_level.applied == False %}
                QUAD_GANTRY_LEVEL
                G28 Z
            {% endif %}
        {% endif %} 
        # Move 50mm away from max position and home again (to help with hall effect endstop accuracy - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/24)
        G90
        G1 X{printer.toolhead.axis_maximum.x-50} Y{printer.toolhead.axis_maximum.y-50} F{30*60}
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28 X Y
        G0 X{printer.toolhead.axis_maximum.x-1} Y{printer.toolhead.axis_maximum.y-1} F{30*60}
        G4 P1000 
        GET_POSITION

    # Go to starting position
    G0 X{x_min} Y{y_min} Z{bound + 10} F{speed*60}

    # Set new limits
    {% if printer.configfile.settings.printer.minimum_cruise_ratio is defined %}
        SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} MINIMUM_CRUISE_RATIO={min_cruise_ratio}
    {% else %}
        SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} ACCEL_TO_DECEL={accel / 2}
    {% endif %}

    {% for i in range(iterations) %}
        # Large pattern diagonals
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_max} Y{y_max} F{speed*60}
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
        G0 X{x_min} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
        
        # Large pattern box
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_min} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
    
        # Small pattern diagonals
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_max} Y{y_center_max} F{speed*60}
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
        
        # Small pattern box
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
    {% endfor %}

    # Restore max speed/accel/accel_to_decel to their configured values
    {% if printer.configfile.settings.printer.minimum_cruise_ratio is defined %}
        SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel} MINIMUM_CRUISE_RATIO={printer.configfile.settings.printer.minimum_cruise_ratio} 
    {% else %}
        SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel} ACCEL_TO_DECEL={printer.configfile.settings.printer.max_accel_to_decel}
    {% endif %}

    # Re-home and get position again for comparison:
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28 XY # This is a full G28 to fix an issue with CoreXZ - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/12
        # Go to XY home positions (in case your homing override leaves it elsewhere)
        G90
        G0 X{printer.toolhead.axis_maximum.x-1} Y{printer.toolhead.axis_maximum.y-1} Z2 F{30*60}
        G4 P1000 
        GET_POSITION

    # Restore previous gcode state (absolute/relative, etc)
    RESTORE_GCODE_STATE NAME=TEST_SPEED

[gcode_macro enable_stepper]
gcode:
 SET_STEPPER_ENABLE STEPPER=stepper_x ENABLE=1
 SET_STEPPER_ENABLE STEPPER=stepper_x1 ENABLE=1
 SET_STEPPER_ENABLE STEPPER=stepper_y ENABLE=1
 SET_STEPPER_ENABLE STEPPER=stepper_y1 ENABLE=1

[motors_sync]
axes: x,y
#    Axes on which synchronization will be performed, separated by commas.
#    For example, for CoreXY kinematics: x,y.
accel_chip: adxl345
#    Accelerometer for vibrations collection: adxl345 / mpu9250 etc.
#encoder_chip_<axis>:
#    Axis name, assigned encoder name, for measuring motor deviations.
microsteps: 32
#    Maximum microsteps resolution relative to motor full step.
#steps_model: linear, 10000, 0
#    Mathematical model and its coefficients describing the dependence of
#    motor microstep displacement on the magnitude of the measured impulse.
#    The model determines how many microsteps the motor position is corrected
#    per one correction step depending on the measured impulse magnitude.  
max_step_size:4
#    Maximum number of microsteps the motor can move in one correction step
#    to achieve the planned impulse magnitude.
#axes_steps_diff:
#    Difference in motor positions in microsteps between two linked axes,
#    to start checking the position offset of the secondary axis. Relevant
#    only for CoreXY type kinematics. Default value - max_step_size + 1.
retry_tolerance: 2000
#    Forced threshold to which the motor impulse magnitude must drop for the
#    synchronization procedure to complete successfully. Recommended to
#    configure in order to filter possible measurement errors. When using an
#    accelerometer, the typical range is [200..2000].
retries: 10
#    Maximum number of retries to reach retry_tolerance.
head_fan: heater_fan heatbreacooling_fan
#    Full name of the toolhead fan that will be turned off during sync to
#    eliminate its noise. Can be specified multiple fans by separating
#    their names with commas.
#axis_prefix_<axis>:
#    Allows you to set a custom prefix that will be displayed before the
#    axis name in terminal outputs. You can use special characters or
#    Unicode icons to make the axes easier to distinguish.
# [gcode_macro Hold_Resonance]
# gcode:
#   # Axis
#   {% set axis = params.AXIS|string %}
#   # Seconds
#   {% set seconds = params.SECONDS|int %}
#   #Freq
#   {%set int = params.FREQ| int%}
#   HOLD_RESONANCE {rawparams}
[gcode_macro VIBRATE_FIXED]
gcode:
    # --- Configuration ---
    {% set AXIS = params.AXIS|default("X")|string %}
    {% set FREQ = params.FREQ|default(50)|int %} # Target Frequency in Hz
    {% set ACCEL = params.ACCEL|default(7000)|int %} # High acceleration
    {% set DURATION = params.DURATION|default(5)|int %} # Time in seconds
    
    # --- Setup ---
    M117 Vibrating {AXIS} at {FREQ}Hz
    SAVE_GCODE_STATE NAME=vibrate_state
    
    # 1. Disable input shaper to feel raw vibrations
    SET_INPUT_SHAPER SHAPER_FREQ_X=0 SHAPER_FREQ_Y=0
    
    # 2. Set high acceleration
    SET_VELOCITY_LIMIT ACCEL={ACCEL}
    
    # 3. Move to center (adjust for your bed size)
    G90
    G1 X100 Y100 F6000
    
    # 4. Perform vibration
    # A 0.5mm stroke at 50Hz = 25mm/s (50 oscillations/s * 0.5mm distance)
    # Move Relative (G91) and use short, fast movements
    G91
    {% set speed = FREQ * 0.5 %} # Calculate speed based on 0.5mm stroke
    {% set moves = DURATION * FREQ %} # Total moves required
    
    {% for i in range(moves|int) %}
        G1 {AXIS}0.25 F{speed * 60}
        G1 {AXIS}-0.25 F{speed * 60}
    {% endfor %}
    
    # --- Cleanup ---
    G90
    RESTORE_GCODE_STATE NAME=vibrate_state
    M117 Vibration Done
