# steppers
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
microsteps: 32
rotation_distance: 40
endstop_pin: ^PG6
position_endstop: 0
position_max: 180
position_min: 0
homing_speed: 100

[stepper_x1]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
microsteps: 32
rotation_distance: 40
full_steps_per_rotation: 200



[stepper_y]

step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
endstop_pin: ^PG9
position_endstop: 0
position_max: 174
position_min: 0
homing_speed: 100

[stepper_y1]
step_pin: PE2
dir_pin: PE3
enable_pin: !PD4
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200

# drivers

[tmc2209 stepper_x]
uart_pin: PC4
run_current: 1.8
stealthchop_threshold: 0
interpolate: false

[tmc2209 stepper_x1]
uart_pin: PD11
run_current: 1.8
stealthchop_threshold: 0
interpolate: false

driver_SGTHRS: 255

[gcode_button X1_diag]
pin: ^PC2
press_gcode:
  M106 S255
release_gcode:


[tmc2209 stepper_y]
uart_pin: PC6
run_current: 1.8
stealthchop_threshold: 0
interpolate: false

[tmc2209 stepper_y1]
uart_pin: PE1
run_current: 1.8
stealthchop_threshold: 0
interpolate: false

#fans

[controller_fan steppers]
pin: PD15
kick_start_time: 0.2
idle_timeout:30
max_power: 0.75
off_below:0.15
stepper: stepper_x, stepper_y,stepper_x1, stepper_y1


# [input_shaper]
# shaper_type_x = mzv
# shaper_freq_x = 96.0
# shaper_type_y = ei
# shaper_freq_y = 105
