#octopus
[mcu octo]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_21004A001750344D30353320-if00


[temperature_sensor octo]
sensor_type: temperature_mcu
sensor_mcu: octo # or your specific name
min_temp: 0
max_temp: 100

[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: octo:PF7
min_temp:-250
max_temp:100

[temperature_sensor Stepper]
sensor_type: Generic 3950
sensor_pin: octo:PF6
min_temp:-250
max_temp:120