# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.
[duplicate_pin_override]
pins:PC0, PC1, PC2
#   A comma separated list of pins that may be used multiple times in
#   a config file without normal error checks. This parameter must be
#   provided.



[include monster_mode.cfg]
#[include silent_mode.cfg]

#[include ebb.cfg]
[include octopus.cfg]
[include mainsail.cfg]
[include macros.cfg]
[include buzer.cfg]
[include accel.cfg]
[include leds.cfg]
[skew_correction]
[include timelapse.cfg]
[include led_progress.cfg]
[virtual_sdcard]
path: ~/printer_data/gcodes

[exclude_object]
[gcode_arcs]
resolution: 1.0
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.

[neopixel leds]
pin: PA8
#   The pin connected to the neopixel. This parameter must be
#   provided.
chain_count: 12
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: BRG
#   Set the pixel order required by the LED hardware (using a string
#   containing the letters R, G, B, W with W optional). Alternatively,
#   this may be a comma separated list of pixel orders - one for each
#   LED in the chain. The default is GRB.
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 0.7
#initial_WHITE: 0.0
#   See the "led" section for information on these parameters.




[stepper_z]
step_pin: octo:PF9
dir_pin: octo:PF10
enable_pin: !octo:PG2
microsteps: 64
rotation_distance: 5.33333
endstop_pin: ^octo:PG12
homing_speed:30
second_homing_speed:3
homing_retract_speed:12
position_min: -1 
#position_endstop: 0.0
position_max: 270


[tmc2209 stepper_z]
uart_pin: octo:PF2
#tx_pin: v2:PC10
uart_address: 1
run_current: 1.0
stealthchop_threshold: 0
interpolate: false

[extruder]
step_pin: octo:PC13
dir_pin: !octo:PF0
enable_pin: !octo:PF1
gear_ratio: 50:10
microsteps: 64
rotation_distance: 22.856
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_cross_section: 1.4
heater_pin: PC8
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PA0
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
pressure_advance: 0.03
min_extrude_temp: 180
min_temp: 0
max_temp: 290

[tmc2209 extruder]
uart_pin: octo:PE4
# diag_pin: ^v2:PC15
# driver_SGTHRS: 255
uart_address: 0
run_current: 0.650
stealthchop_threshold: 0

# [gcode_button Clog_detect]
# pin: tmc2209_extruder:virtual_endstop
# press_gcode: 
#   G28 z

# [homing_override]
# gcode:
#   G28 XY
#   G28 Z
#   G1
#   G1 Z10
# axes: z
# #   The axes to override. For example, if this is set to "z" then the
# #   override script will only be run when the z axis is homed (eg, via
# #   a "G28" or "G28 Z0" command). Note, the override script should
# #   still home all axes. The default is "xyz" which causes the
# #   override script to be run in place of all G28 commands.
[heater_bed]
heater_pin: PC9
#sensor_type: EPCOS 100K B57560G104F
sensor_type: Generic 3950
sensor_pin: PC4
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

# [temperature_sensor chamber]
# sensor_type: Generic 3950
# sensor_pin: v2:PA0
# min_temp:-250
# max_temp:100



# [temperature_sensor teste]
# sensor_type: Generic 3950
# sensor_pin: octo:PF3
# min_temp:-250
# max_temp:120

[temperature_sensor MCU]
sensor_type: temperature_mcu
sensor_mcu: mcu # or your specific name
min_temp: 0
max_temp: 100



# [temperature_sensor V2]
# sensor_type: temperature_mcu
# sensor_mcu: v2 # or your specific name
# min_temp: 0
# max_temp: 100


[temperature_sensor host]
sensor_type: temperature_host
 # or your specific name
min_temp: 0
max_temp: 100


[heater_fan heatbreacooling_fan]
pin: PC7

[heater_fan controller_fan]
pin: PB15

[fan]
pin: PC6

# [fan_generic extruder_partfan]
# pin: v2:PC9

# [led teste]
# white_pin: v2:PC9


[delayed_gcode STARTUP_MACRO]
gcode:
    
   G28 X Y
   G1 X90 Y90 F6000
    #G28 Z
    
    #G1 Z10
    #SET_LED_EFFECT EFFECT=panel_idle REPLACE=1 FADETIME=1.0
    
    #SET_SKEW XY=140.18,140.8,100.4
initial_duration: 1



[gcode_macro START_PRINT]
gcode:
      #Get Printer built volume dimensions
      {% set X_MAX = printer.toolhead.axis_maximum.x|default(100)|float %}
      {% set Y_MAX = printer.toolhead.axis_maximum.y|default(100)|float %}
      {% set Z_MAX = printer.toolhead.axis_maximum.z|default(100)|float %}
    
      #Set pcf speed to 10%
      M106 S26
    
      #Get Bed and Extruder temperature from Slicer GCode
      {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
      {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
      #Preheat nozzle and bed
      M104 S{EXTRUDER_TEMP} T0                        
      M140 S{BED_TEMP}                                

      #Home
      G28

      #Move up to clean bed
      G1 Y{Y_MAX - 30} Z{Z_MAX/7.0} F8000                
      SET_LED LED=leds RED=0.8 GREEN=0.3 BLUE=0
      #Heat nozzle and bed
      M190 S{BED_TEMP}                               
      M109 S{EXTRUDER_TEMP} T0


[gcode_macro END_PRINT]
gcode:
        #Get Printer built volume dimensions
        {% set X_MAX = printer.toolhead.axis_maximum.x|default(100)|float %}
        {% set Y_MAX = printer.toolhead.axis_maximum.y|default(100)|float %}

        #Fix-up extruder
        
        G91                                            
        G1 E-2 F2700                                    
        G1 E-1.5 Z0.2 F2400                        
        G1 X5 Y5 F6000                               
        G1 Z10                                 
        G90                                        
        
        #Present print
        G1 Z{printer.toolhead.position.z + 50} F600
        G1 X5 Y170 F6000
        M106 S0                                      
        M104 S0                                       
        M140 S0 
        SET_LED LED=leds RED=0 GREEN=1 BLUE=0
        WEEZER      
        G1 x90 y90

        #Disable Steppers
        M84 X Y E

#e3v3
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_530029000250414235363020-if00

#e3v2
# [mcu v2]
# serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_32FFD6055646363339680143-if00


[printer]
kinematics: corexy
max_velocity: 700
max_accel: 15000
square_corner_velocity: 5.0
max_z_velocity: 80
max_z_accel: 1000

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>


##   Following basic configuration is default to most images and don't need
##   to be changed in most scenarios. Only uncomment and change it if your
##   Image differ from standart installations. In most common scenarios 
##   a User only need [timelapse] in their configuration.
#output_path: ~/timelapse/
##   Directory where the generated video will be saved
#frame_path: /tmp/timelapse/
##   Directory where the temporary frames are saved
#ffmpeg_binary_path: /usr/bin/ffmpeg
##   Directory where ffmpeg is installed


# See the sample-lcd.cfg file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 54.577
#*# pid_ki = 3.465
#*# pid_kd = 214.897
#*#
#*# [extruder]
#*# z_offset = 0.5
#*# control = pid
#*# pid_kp = 32.374
#*# pid_ki = 1.741
#*# pid_kd = 150.540
#*#
#*# [stepper_z]
#*# position_endstop = -0.155
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 85.0
#*# shaper_type_y = mzv
#*# shaper_freq_y = 80.0
