[include monster_mode.cfg]
#[include silent_mode.cfg]

#[include ebb.cfg]
[include plr.cfg]
[include mainsail.cfg]
[include macros.cfg]
[include buzer.cfg]
[include accel.cfg]
[skew_correction]
[include timelapse.cfg]

# LED features disabled for now because PA8 is used as part cooling fan
# on the current Octopus wiring, and the backup used that same pin for
# neopixels.
[virtual_sdcard]
path: /home/shoomba/printer_data/gcodes

[exclude_object]

[gcode_arcs]
resolution: 1.0

[stepper_z]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
microsteps: 64
rotation_distance: 5.33333
endstop_pin: ^PG12
homing_speed: 30
second_homing_speed: 3
homing_retract_speed: 12
position_min: -1
position_max: 270

[tmc2208 stepper_z]
uart_pin: PF2
run_current: 1.0
stealthchop_threshold: 0
interpolate: false

[extruder]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
gear_ratio: 50:10
microsteps: 64
rotation_distance: 22.856
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_cross_section: 1.4
heater_pin: PA2
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PF4
pressure_advance: 0.03
min_extrude_temp: 180
min_temp: 0
max_temp: 290

[tmc2208 extruder]
uart_pin: PE4
run_current: 0.650
stealthchop_threshold: 0

[heater_bed]
heater_pin: PA1
sensor_type: Generic 3950
sensor_pin: PF3
min_temp: 0
max_temp: 130

[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: PF5
min_temp: -250
max_temp: 100

[temperature_sensor Stepper]
sensor_type: Generic 3950
sensor_pin: PF6
min_temp: -250
max_temp: 120

[temperature_sensor MCU]
sensor_type: temperature_mcu
sensor_mcu: mcu
min_temp: 0
max_temp: 100

[temperature_sensor host]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

[heater_fan heatbreacooling_fan]
pin: PE5

[idle_timeout]
timeout: 1200

[fan]
pin: PA8
kick_start_time: 0.2
max_power: 1
off_below: 0.15
shutdown_speed: 0.0

[delayed_gcode PART_FAN_BOOT_PULSE]
initial_duration: 1.0
gcode:
  M106 S255
  UPDATE_DELAYED_GCODE ID=PART_FAN_BOOT_OFF DURATION=0.25

[delayed_gcode PART_FAN_BOOT_OFF]
gcode:
  M106 S0
  M107

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_21004A001750344D30353320-if00

[printer]
kinematics: corexy
max_velocity: 700
max_accel: 15000
square_corner_velocity: 5.0
max_z_velocity: 80
max_z_accel: 1000

##   Following basic configuration is default to most images and don't need
##   to be changed in most scenarios. Only uncomment and change it if your
##   Image differ from standart installations. In most common scenarios
##   a User only need [timelapse] in their configuration.
#output_path: ~/timelapse/
##   Directory where the generated video will be saved
#frame_path: /tmp/timelapse/
##   Directory where the temporary frames are saved
#ffmpeg_binary_path: /usr/bin/ffmpeg
##   Directory where ffmpeg is installed

# See the sample-lcd.cfg file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 54.577
#*# pid_ki = 3.465
#*# pid_kd = 214.897
#*#
#*# [extruder]
#*# z_offset = 0.5
#*# control = pid
#*# pid_kp = 32.374
#*# pid_ki = 1.741
#*# pid_kd = 150.540
#*#
#*# [stepper_z]
#*# position_endstop = -0.100
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 85.0
#*# shaper_type_y = mzv
#*# shaper_freq_y = 80.0
